<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="seniorproject.smartstocks">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    // Added for db connection
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    // Added for db connection
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="SmartStocks"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".TradingActivity" />
        <activity android:name=".ToolsActivity" />
        <activity android:name=".PersonalInfoActivity" />
        <activity android:name=".RegistrationPersonalInfoActivity" />
        <activity android:name=".AccountsOpenAccountActivity" />
        <activity android:name=".AccountsPortfolioActivity" />
        <activity android:name=".AccountsBalancesActivity" />
        <activity android:name=".AccountsOrdersActivity" />
        <activity android:name=".AccountsTransactionsActivity"></activity>
        <activity
            android:name=".AccountsActivity"
            android:label="@string/title_activity_account"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>